@font-face {
    font-family: 'Klavika';
    src: url('https://fonts.googleapis.com/css2?family=Klavika&display=swap');
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Klavika', sans-serif;
    background-color: rgb(241, 241, 241);
}

.page_content{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -3rem;

}

.container1{
    display: flex;
    flex-direction: column;
    padding-right: 3rem;
    margin-left: -5rem;
}

.topic img{
    width: 20.0625rem;
    height: 6.625rem;
    margin-left: -2rem;
    
}

h2{
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
}

.container2{
    margin-right: -5rem;
    width: 24rem;
    height: 22rem;
    text-align: center;
}

.box1 {
    background-color: white;
    margin-top: -0.75rem;
    padding: 1.25rem;
    border-radius: 0.75rem;
}

.box1 p{
    margin: 1rem;
    padding: 1rem;
    font-size: 0.9rem;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.277);
    margin-bottom: 0.5rem;
    padding-bottom: 1rem;
    background-color: white;
}

.box1 p a{
    text-decoration: none;
    color: #1877f2;
    background-color: white;
}

.box1 p a:hover{
    text-decoration: underline;
}

input {
    margin-top: 0.625rem;
    margin-left: -0.625rem;
    border: 1px solid rgba(0, 0, 0, 0.277);
    border-radius: 0.5rem;
    margin-right: -0.625rem;
    padding: 1.0625rem;
    width: 20rem;
    background-color: white;
    font-size: medium;
}

#login{
    width: 22.5rem; 
    margin-bottom:-6rem ;
    background-color: #1877f2 ;
    color: white;
    font-weight: bold;
    font-size: larger;
    border-style: none;
    cursor: pointer;
}

#new_account{
    width: 14rem;
    background-color: #31b73a;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    border-style: none;
    cursor: pointer;
}

#new_account:hover{
    background-color: #2f9b37;
}

.box2{
    margin: 1rem;
    background-color: rgb(241, 241, 241);
}

.box2 p a{
    background-color: rgb(241, 241, 241);
    text-decoration: none;
}

.box2 p a:hover{
    text-decoration: underline;
    color: black;
}

span{
    color: black;
    background-color: rgb(241, 241, 241);
    font-weight: bold;
    font-size: small;
    border-style: none;
}

.footer {
    display: flex;
    background-color: white;
    position: absolute;
    bottom: -5rem;
    left: 0;
    width: 100%;
}

.footer-text a{
    text-decoration: none;
    color: #737373;
    background-color: white;
    word-spacing: 12px;
}

.footer-text p{
    text-decoration: none;
    color: #737373;
    background-color: white;
    word-spacing: 12px;
    margin-bottom: 6px;
}

.footer-text{
    background-color: white;
    font-size: small;
    margin-left: 15rem;
}

.links{
    background-color: white;
    margin-top: 2.5rem;
    margin-bottom: -1.5rem;
}

h3{
    background-color: white;
    color: #737373;
    font-size: 15px;
    font-weight: normal;
    margin-top: -8px;

}

button{
    font-size: 1rem; 
    font-weight: bold;
    color: #737373;
    padding: 2px 8px;
    border: 1px solid;
    border-radius: 4px; 
    cursor: pointer;

}
